<footer class="bg-dark text-center">
    <!-- Grid container -->
    <div class="container p-4 pb-0">
      <!-- Section: Social media -->
      <section class="mb-4">
        <!-- Twitter -->
        <a
          data-mdb-ripple-init
          class="btn text-white btn-floating m-1"
          style="background-color: #55acee;"
          href="https://twitter.com/Abysswlkr_"
          role="button"
          ><i class="bi bi-twitter-x"></i></a>
  
        <!-- Linkedin -->
        <a
          data-mdb-ripple-init
          class="btn text-white btn-floating m-1"
          style="background-color: #0082ca;"
          href="https://www.linkedin.com/in/molivaresb/"
          role="button"
          ><i class="bi bi-linkedin"></i></a>

        <!-- Github -->
        <a
          data-mdb-ripple-init
          class="btn text-white btn-floating m-1"
          style="background-color: #333333;"
          href="https://github.com/Abysswlkr"x
          role="button"
          ><i class="bi bi-github"></i></a>
      </section>
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center p-3 text-white" style="background-color: rgba(255, 255, 255, 0.05);">
      © 2024 Copyright: Moliv_Dev
    </div>
    <!-- Copyright -->
  </footer>
