<!-- bring all videojuegos -->
<div class="container border">
  <div class="container mt-4">
    <div class="row">
      <div class="col-md-6">
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Buscar por nombre" [(ngModel)]="searchTerm">
          <button class="btn btn-outline-secondary" type="button" (click)="getVideojuegosByName()">Buscar</button>
        </div>
      </div>
    </div>
    <div class="accordion accordion-flush" id="accordionFlushExample">
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
            Filtros de busqueda
          </button>
        </h2>
        <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">
            <div class="row">
              <div class="col-md-6">
                <div class="mb-3">
                  <select id="genreSelect" class="form-select" (change)="getVideojuegosByGenre($event)">
                    <option value="">Seleccionar género</option>
                    <option *ngFor="let genero of generos" [value]="genero">{{ genero }}</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="mb-3">
                  <select id="platformSelect" class="form-select" (change)="getVideojuegosByPlatform($event)">
                    <option value="">Seleccionar plataforma</option>
                    <option *ngFor="let plataforma of plataformas" [value]="plataforma">{{ plataforma }}</option>
                  </select>
                </div>
              </div>
              <div class="row border">
                <div class="col-md-4 mt-2">
                  <label for="minPrice" class="form-label">Precio mínimo:</label>
                  <input type="number" class="form-control" id="minPrice" [(ngModel)]="minPrice" name="minPrice">
                </div>
                <div class="col-md-4 mt-2">
                  <label for="maxPrice" class="form-label">Precio máximo:</label>
                  <input type="number" class="form-control" id="maxPrice" [(ngModel)]="maxPrice" name="maxPrice">
                </div>
                <div class="mt-2 mb">
                  <button class="btn btn-primary" (click)="getVideogamesByPriceRange()">Filtrar</button>
                </div>
              </div>  
            </div>
          </div>
        </div>
      </div>
    </div>

    <hr class="mt-5">

    <section class="py-5" >
      <div *ngIf="error">
        <p>No se encontraron resultados.</p>
      </div>
      <div class="container px-4 px-lg-5 mt-5" *ngIf="!error && videojuegos.length > 0">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
          <div class="col mb-5" *ngFor="let videojuego of videojuegos">
            <div class="card h-100">
              <!-- Product image -->
              <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="...">
              <!-- Product details -->
              <div class="card-body p-4">
                <div class="text-center">
                  <!-- Product name -->
                  <h5 class="fw-bolder">{{ videojuego.nombreVideojuego }}</h5>
                  <!-- Product price -->
                  <p class="mb-0">{{ videojuego.precio | currency }}</p>
                </div>
              </div>
              <!-- Product actions -->
              <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                <div class="text-center">
                  <a class="btn btn-outline-dark mt-auto" (click)="getVideojuegoById(videojuego.idvideojuego)">Ver</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>    
</div>










<table>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Description</th>
      <th>Price</th>
      <th>Stock</th>
      <th>Genre</th>
      <th>Quantity</th>
      <th>Action</th>
    </tr>
    <tr *ngFor="let videojuego of videojuegos" >
      <td>{{ videojuego.idvideojuego }}</td>
      <td>{{ videojuego.nombreVideojuego }}</td>
      <td>{{ videojuego.descripcion }}</td>
      <td>{{ videojuego.precio }}</td>
      <td>{{ videojuego.cantidadStock }}</td>
      <td>{{ videojuego.genero1 }} {{ videojuego.genero2 }} {{ videojuego.genero3 }}</td>
      <td>
        <input type="number" [(ngModel)]="cantidad[videojuego.idvideojuego]" min="1" [max]="videojuego.cantidadStock" value="1">
      </td>
      <td>
        <button (click)="editVideojuego(videojuego)">Edit</button>
        <button (click)="deleteVideojuego(videojuego.idvideojuego)">Delete</button> <!-- New Delete button -->
        <button (click)="addToCart(videojuego)">Add to Cart</button>
      </td>
    </tr>
  </table>
  
  
  <!-- Find videojuego between min and ma price -->
  <!-- <form (submit)="getVideogamesByPriceRange(minPrice.value, maxPrice.value)">
    <label for="minPrice">Min Price:</label>
    <input type="number" id="minPrice" #minPrice>
    <label for="maxPrice">Max Price:</label>
    <input type="number" id="maxPrice" #maxPrice>
    <button type="submit">Get Videojuegos</button>
  </form>
  
  <div *ngIf="errorMessage && !videojuegos">
    <p>{{ errorMessage }}</p>
  </div>
  
  <div *ngIf="videojuegosFilterPrice">
    <ul>
      <li *ngFor="let videojuego of videojuegosFilterPrice">
        {{ videojuego.nombreVideojuego }} - {{ videojuego.descripcion }}
      </li>
    </ul>
  </div> -->
  
  
  <!-- Create videojuego -->
  <form (ngSubmit)="createVideojuego()">
    <label for="nombreVideojuego">Nombre del Videojuego:</label><br>
    <input type="text" id="nombreVideojuego" [(ngModel)]="newVideojuegoForm.nombreVideojuego" name="nombreVideojuego"><br>
    
    <label for="descripcion">Descripción:</label><br>
    <textarea id="descripcion" name="descripcion" [(ngModel)]="newVideojuegoForm.descripcion"></textarea><br>
    
    <label for="precio">Precio:</label><br>
    <input type="number" id="precio" name="precio" [(ngModel)]="newVideojuegoForm.precio"><br>
    
    <label for="cantidadStock">Cantidad en Stock:</label><br>
    <input type="number" id="cantidadStock" name="cantidadStock" [(ngModel)]="newVideojuegoForm.cantidadStock"><br>
    
    <label for="plataforma">Plataforma:</label><br>
    <input type="text" id="plataforma" name="plataforma" [(ngModel)]="newVideojuegoForm.plataforma"><br>
    
    <label for="genero1">Género 1:</label><br>
    <input type="text" id="genero1" name="genero1" [(ngModel)]="newVideojuegoForm.genero1"><br>
    
    <label for="genero2">Género 2:</label><br>
    <input type="text" id="genero2" name="genero2" [(ngModel)]="newVideojuegoForm.genero2"><br>
    
    <label for="genero3">Género 3:</label><br>
    <input type="text" id="genero3" name="genero3" [(ngModel)]="newVideojuegoForm.genero3"><br>
    
    <label for="imagen">URL de la Imagen:</label><br>
    <input type="text" id="imagen" name="imagen" [(ngModel)]="newVideojuegoForm.imagen"><br>
    
    <button type="submit">Crear videojuego</button>
  </form>
  
  <!-- Edit videjuego -->
  <form (submit)="submitEdit()">
    <label for="nombreVideojuego">Nombre del Videojuego:</label><br>
    <input type="text" id="nombreVideojuego" [(ngModel)]="editVideojuegoForm.nombreVideojuego" name="nombreVideojuego"><br>
    
    <label for="descripcion">Descripción:</label><br>
    <textarea id="descripcion" name="descripcion" [(ngModel)]="editVideojuegoForm.descripcion"></textarea><br>
    
    <label for="precio">Precio:</label><br>
    <input type="number" id="precio" name="precio" [(ngModel)]="editVideojuegoForm.precio"><br>
    
    <label for="cantidadStock">Cantidad en Stock:</label><br>
    <input type="number" id="cantidadStock" name="cantidadStock" [(ngModel)]="editVideojuegoForm.cantidadStock"><br>
    
    <label for="plataforma">Plataforma:</label><br>
    <input type="text" id="plataforma" name="plataforma" [(ngModel)]="editVideojuegoForm.plataforma"><br>
    
    <label for="genero1">Género 1:</label><br>
    <input type="text" id="genero1" name="genero1" [(ngModel)]="editVideojuegoForm.genero1"><br>
    
    <label for="genero2">Género 2:</label><br>
    <input type="text" id="genero2" name="genero2" [(ngModel)]="editVideojuegoForm.genero2"><br>
    
    <label for="genero3">Género 3:</label><br>
    <input type="text" id="genero3" name="genero3" [(ngModel)]="editVideojuegoForm.genero3"><br>
    
    <label for="imagen">URL de la Imagen:</label><br>
    <input type="text" id="imagen" name="imagen" [(ngModel)]="editVideojuegoForm.imagen"><br>
    <button type="submit">Editar Juego</button>
  </form>

  <div *ngFor="let videojuego of (cart$ | async)?.videojuegos">
    <h2>{{ videojuego.nombreVideojuego }}</h2>
    <p *ngIf="videojuego.precio !== undefined && videojuego.cantidad !== undefined"> 
      {{ videojuego.precio | currency }} x {{ videojuego.cantidad }} Precio total: {{ precioTotalPorVideojuego[videojuego.idvideojuego] | currency }}
    </p>
    <button (click)="removeFromCart(videojuego.idvideojuego)">Eliminar</button>
  </div>

  <p *ngIf="totalPrecio !== undefined">Total del carrito: {{ totalPrecio | currency }}</p>
  
  <button (click)="createPedido()">Crear Pedido</button>
  <button (click)="clearCart()">Vaciar carrito</button>

  <div>
    <h2>Simulate Payment</h2>
    <form (submit)="createTransaction()">
      <div>
        <label for="amount">Amount:</label>
        <input type="number" id="amount" [(ngModel)]="amount" name="amount" required>
      </div>
      <button type="submit">Submit Payment</button>
    </form>


    <div *ngIf="response">
      <h3>Payment Response</h3>
      <p>Status: {{ response.status }}</p>
      <p>Transaction ID: {{ response.transactionId }}</p>
      <p>Amount: {{ response.amount }}</p>
      <p>Message: {{ response.message }}</p>
    </div>
  </div>
  
  <button (click)="logout()">Cerrar sesión</button>

  
