<!-- bring all videojuegos -->
<div class="container border mt-5 mb-5">
  <div class="container mt-4">
    <div class="row">
      <div class="col-md-6">
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Buscar por nombre" [(ngModel)]="searchTerm">
          <button class="btn btn-outline-secondary" type="button" (click)="getVideojuegosByName()">Buscar</button>
        </div>
      </div>
    </div>
    <div class="accordion accordion-flush" id="accordionFlushExample">
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
            Filtros de busqueda
          </button>
        </h2>
        <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">
            <div class="row">
              <div class="col-md-6">
                <div class="mb-3">
                  <select id="genreSelect" class="form-select" (change)="getVideojuegosByGenre($event)">
                    <option value="">Seleccionar género</option>
                    <option *ngFor="let genero of generos" [value]="genero">{{ genero }}</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="mb-3">
                  <select id="platformSelect" class="form-select" (change)="getVideojuegosByPlatform($event)">
                    <option value="">Seleccionar plataforma</option>
                    <option *ngFor="let plataforma of plataformas" [value]="plataforma">{{ plataforma }}</option>
                  </select>
                </div>
              </div>
              <div class="row border">
                <div class="col-md-4 mt-2">
                  <label for="minPrice" class="form-label">Precio mínimo:</label>
                  <input type="number" class="form-control" id="minPrice" [(ngModel)]="minPrice" name="minPrice">
                </div>
                <div class="col-md-4 mt-2">
                  <label for="maxPrice" class="form-label">Precio máximo:</label>
                  <input type="number" class="form-control" id="maxPrice" [(ngModel)]="maxPrice" name="maxPrice">
                </div>
                <div class="mt-2 mb">
                  <button class="btn btn-primary" (click)="getVideogamesByPriceRange()">Filtrar</button>
                </div>
              </div>  
            </div>
          </div>
        </div>
      </div>
    </div>

    <hr class="mt-5">

    <section class="py-5" >
      <div *ngIf="error">
        <p>No se encontraron resultados.</p>
      </div>
      <div class="container px-4 px-lg-5 mt-5" *ngIf="!error && videojuegos.length > 0">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
          <div class="col mb-5" *ngFor="let videojuego of videojuegos">
            <div class="card h-100">
              <!-- Product image -->
              <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="...">
              <!-- Product details -->
              <div class="card-body p-4">
                <div class="text-center">
                  <!-- Product name -->
                  <h5 class="fw-bolder">{{ videojuego.nombreVideojuego }}</h5>
                  <!-- Product price -->
                  <p class="mb-0">{{ videojuego.precio | currency }}</p>
                </div>
              </div>
              <!-- Product actions -->
              <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                <div class="text-center">
                  <a class="btn btn-outline-dark mt-auto" (click)="getVideojuegoById(videojuego.idvideojuego)">Ver</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>    
    <div class="d-flex justify-content-center mb-2">
      <nav aria-label="Page navigation example">
        <ul class="pagination">
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
</div>


  
