.hovered {
  background-color: #f0f0f0; 
  transition: background-color 0.3s ease; 
}

.list-group-item {
  cursor: pointer;
}

.scrollable-container {
  max-height: 500px;
  overflow-y: auto; 
  overflow-x: hidden;
  }

  .scrollable-container {
    scrollbar-width: none; /* Oculta la barra de desplazamiento en Firefox */
  }
  
  /* Para navegadores que no soportan las opciones anteriores */
  .scrollable-container {
    -ms-overflow-style: none;  /* IE y Edge */
  }
  
  /* Opcional: Personalizar el comportamiento del scroll con pseudo-elementos */
  .scrollable-container::before,
  .scrollable-container::after {
    content: '';
    display: block;
    height: 1px;
    width: 100%;
    background: transparent;
  }