.gradient-custom-2 {
  /* fallback for old browsers */
  background: #1a1a1a;
  
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, #0f2027, #203a43, #2c5364, #475c69);
  
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, #0f2027, #203a43, #2c5364, #475c69);
  }
  
  @media (min-width: 768px) {
  .gradient-form {
  height: 100vh !important;
  }
  }
  @media (min-width: 769px) {
  .gradient-custom-2 {
  border-top-right-radius: .3rem;
  border-bottom-right-radius: .3rem;
  }
  }

  .alert-container {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1050; /* Asegúrate de que tenga un valor suficientemente alto */
    width: 100%;
    max-width: 600px; /* O ajusta esto según sea necesario */
    margin: 0 auto;
    text-align: center;
    padding: 0.5rem;
  }