@media (min-width: 1025px) {
    .h-custom {
    height: 100vh !important;
    }
    }
    
    .card-registration .select-input.form-control[readonly]:not([disabled]) {
    font-size: 1rem;
    line-height: 2.15;
    padding-left: .75em;
    padding-right: .75em;
    }
    
    .card-registration .select-arrow {
    top: 13px;
    }
    
    .bg-grey {
    background-color: #eae8e8;
    }
    
    @media (min-width: 992px) {
    .card-registration-2 .bg-grey {
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    }
    }
    
    @media (max-width: 991px) {
    .card-registration-2 .bg-grey {
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    }
    }

    .p-5 {
        max-height: auto;
        overflow: hidden;
    }

    .scrollable-container {
    max-height: 500px;
    overflow-y: auto; 
    overflow-x: hidden;
    }
    
    .scrollable-container .row {
    margin-bottom: auto; /* Espaciado entre filas */
    }

    .alert-container {
        position: fixed;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        z-index: 1050; /* Asegúrate de que tenga un valor suficientemente alto */
        width: 100%;
        max-width: 600px; /* O ajusta esto según sea necesario */
        margin: 0 auto;
        text-align: center;
        padding: 0.5rem;
      }