
<!-- Page Content -->
<div  class="container mt-5 mb-5 px-4 px-lg-5 back-blur border border-dark">
    <!-- Heading Row -->
    <div class="row gx-4 gx-lg-5 align-items-center my-5">
        <div id="carouselExampleIndicators" class="carousel slide col-lg-7">
            <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner rounded mb-4 mb-lg-0">
            <div class="carousel-item active">
                <img src="../../../assets/images/img/landing_1.svg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="../../../assets/images/img/landing_2.svg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="../../../assets/images/img/landing_3.svg" class="d-block w-100" alt="...">
            </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
            </button>
        </div>
        <div class="col-lg-5 text-white">
            <h1 class="font-weight-light ">Videojuegos clásicos</h1>
            <p>Uno de los rasgos más distintivos de los videojuegos clásicos es su simplicidad y accesibilidad. Juegos como "Pac-Man", "Space Invaders" y "Tetris" son ejemplos icónicos que, a pesar de sus gráficos y mecánicas simples, ofrecieron una jugabilidad adictiva y un desafío continuo. Estos juegos se centraban en el perfeccionamiento de habilidades específicas y en alcanzar puntajes altos, lo que fomentaba la rejugabilidad y la competencia amistosa entre los jugadores.</p>
            <a class="btn btn-primary" href="#!">Click aquí!</a>
        </div>
    </div>

    <!-- Call to Action -->
    <div class="card text-white bg-secondary my-5 py-4 text-center">
        <div class="card-body">
            <p class="text-white m-0">The universe is full of secrets, and it's our job to find them</p>
        </div>
    </div>

    <!-- Content Row -->
    <div class="row gx-4 gx-lg-5">
        <div class="col-md-4 mb-5">
            <div class="card h-100">
                <div class="card-body">
                    <h2 class="card-title">Acción</h2>
                    <p class="card-text">Los juegos de acción son rápidos y requieren reflejos rápidos y coordinación. Los jugadores enfrentan enemigos y superan obstáculos en tiempo real. Ejemplos populares incluyen "Call of Duty" y "Super Mario".</p>
                </div>
                <div class="card-footer">
                    <a class="btn btn-primary btn-sm" href="#!">Ver</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-5">
            <div class="card h-100">
                <div class="card-body">
                    <h2 class="card-title">Puzzles</h2>
                    <p class="card-text">Los juegos de puzzles desafían la mente con problemas lógicos y estrategias. Ideales para mejorar habilidades cognitivas, van desde simples combinaciones como "Candy Crush" hasta complejos rompecabezas como "Portal".</p>
                </div>
                <div class="card-footer">
                    <a class="btn btn-primary btn-sm" href="#!">Ver</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-5">
            <div class="card h-100">
                <div class="card-body">
                    <h2 class="card-title">RPG</h2>
                    <p class="card-text">Los RPG permiten a los jugadores vivir historias épicas, tomando decisiones que afectan el desarrollo del personaje y la trama. Con mundos expansivos y personajes personalizables, ejemplos incluyen "Skyrim" y "Mass Effect".</p>
                </div>
                <div class="card-footer">
                    <a class="btn btn-primary btn-sm" href="#!">Ver</a>
                </div>
            </div>
        </div>
    </div>
</div>


